# 1: Tiền xử lý dữ liệu

### 1.1: làm sạch data

In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("heart_disease_health_indicators.csv")
df.sample(10)

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
240992,0.0,1.0,1.0,1.0,24.0,1.0,0.0,2.0,0.0,1.0,...,1.0,0.0,3.0,4.0,0.0,0.0,1.0,9.0,5.0,6.0
190296,0.0,1.0,1.0,1.0,30.0,0.0,1.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,8.0,6.0,7.0
141540,0.0,0.0,0.0,0.0,17.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,7.0,2.0,0.0,1.0,1.0,5.0,2.0
183932,0.0,0.0,0.0,1.0,22.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,4.0,5.0,7.0
180042,0.0,0.0,0.0,0.0,27.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,1.0,13.0,6.0,4.0
144773,0.0,1.0,0.0,1.0,30.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,2.0,1.0,0.0,0.0,1.0,7.0,4.0,7.0
218216,0.0,0.0,0.0,1.0,27.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,1.0,12.0,6.0,6.0
170363,0.0,0.0,0.0,1.0,23.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,0.0,11.0,6.0,6.0
323,0.0,1.0,0.0,1.0,27.0,1.0,0.0,0.0,1.0,1.0,...,1.0,1.0,3.0,21.0,30.0,1.0,0.0,9.0,3.0,2.0
71262,0.0,1.0,0.0,1.0,55.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,3.0,15.0,0.0,0.0,0.0,7.0,5.0,8.0

In [3]:
# kiểm tra null
print(df.isnull().sum())

HeartDiseaseorAttack    0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
Diabetes                0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   HeartDiseaseorAttack  253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   Diabetes              253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [6]:
# Xóa các dòng trùng lặp
df=df.drop_duplicates(keep='first')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229781 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   HeartDiseaseorAttack  229781 non-null  float64
 1   HighBP                229781 non-null  float64
 2   HighChol              229781 non-null  float64
 3   CholCheck             229781 non-null  float64
 4   BMI                   229781 non-null  float64
 5   Smoker                229781 non-null  float64
 6   Stroke                229781 non-null  float64
 7   Diabetes              229781 non-null  float64
 8   PhysActivity          229781 non-null  float64
 9   Fruits                229781 non-null  float64
 10  Veggies               229781 non-null  float64
 11  HvyAlcoholConsump     229781 non-null  float64
 12  AnyHealthcare         229781 non-null  float64
 13  NoDocbcCost           229781 non-null  float64
 14  GenHlth               229781 non-null  float64
 15  MentHlth              229781 non-null  float64
 16  PhysHlth              229781 non-null  float64
 17  DiffWalk              229781 non-null  float64
 18  Sex                   229781 non-null  float64
 19  Age                   229781 non-null  float64
 20  Education             229781 non-null  float64
 21  Income                229781 non-null  float64
dtypes: float64(22)
memory usage: 40.3 MB

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(15, 40))
for i, column in enumerate(df.columns):
    plt.subplot(len(df.columns), 2, i + 1)
    plt.suptitle("Plot Value Count", fontsize=20, x=0.5, y=1)
    sns.countplot(data=df, x=column)
    plt.title(column)
    plt.tight_layout()

### 1.2: đẩy vào mysql

In [8]:
from sqlalchemy import create_engine

con = create_engine('mysql+mysqldb://root:@localhost/heart_disease_health_indicators', echo=False)

df.to_sql(name="data", con=con, if_exists="replace", index=False)

229781

# 2: Huấn luyện và dự đoán model

### 2.1: DecisionTree

In [ ]:
# from DecisionTree import main

### 2.2: RandomForest

In [ ]:
# from RandomForest import run

### 2.3: LogisticRegression

In [1]:
from ConfusionMatrix  import *
from correlation import *
from InsertEvaluateData import *

In [4]:
from sqlalchemy import create_engine
con_str='mysql+mysqldb://root:@localhost/heart_disease_health_indicators'
con = create_engine(con_str, echo=False)

df=pd.read_sql("SELECT * FROM data",con=con)
df

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229776,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
229777,0.0,1.0,1.0,1.0,18.0,0.0,0.0,2.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
229778,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
229779,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
229780,1.0,1.0,1.0,1.0,25.0,0.0,0.0,2.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [5]:
X = df.drop(columns=["HeartDiseaseorAttack"]).values
y = df["HeartDiseaseorAttack"].values
print("Shape of data:", X.shape)
print("Shape of label:", y.shape)

Shape of data: (229781, 21)
Shape of label: (229781,)

In [6]:
import math
def train_test_split(X, y, splitting_factor):
    n_train = math.floor(splitting_factor * X.shape[0])
    X_train = X[:n_train]
    y_train = y[:n_train]
    X_test = X[n_train:]
    y_test = y[n_train:]
    return X_train, X_test, y_train, y_test

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, 0.8)
print("Shape of train data:", X_train.shape)
print("Shape of test data:", X_test.shape)

Shape of train data: (183824, 21)
Shape of test data: (45957, 21)

In [8]:
from LogisticRegression import MyLogisticRegression

clf = MyLogisticRegression()
clf.fit(X_train, Y_train)
predictions = clf.predict(X_test)
result = pd.DataFrame({"Actual": Y_test, "Predict": predictions})

tp_rf, tn_rf, fp_rf, fn_rf = compute_tp_tn_fn_fp(Y_test, predictions)
acc = compute_accuracy(tp_rf, tn_rf, fn_rf, fp_rf)
precision_ = compute_precision(tp_rf, fp_rf)
recall = compute_recall(tp_rf, fn_rf)
f1_score = compute_f1_score(Y_test, predictions)
print("Accuracy for Logistic Regression:", acc)
print("Precision for Logistic Regression:", precision_)
print("Recall for Logistic Regression:", recall)
print("F1 score for Logistic Regression:", f1_score)

Accuracy for Logistic Regression: 89.31174793829014
Precision for Logistic Regression: 39.553752535496955
Recall for Logistic Regression: 4.054897067997505
F1 score for Logistic Regression: 7.355714824594493

In [10]:
arr = {
    "id": [1],
    "acc": [acc],
    "precision_": [precision_],
    "recall": [recall],
    "f1_score": [f1_score],
}
arr = pd.DataFrame(arr)
arr.to_sql(name="evaluatescratchlr", con=con, if_exists="replace", index=False)

1